.hero {
  overflow: hidden;
  .heading {
    z-index: 10;
    display: inline-block;
    h1 {
      @include media-breakpoint-up(lg) {
        font-size: 3.5rem;
      }
    }
    h2 {
      @include media-breakpoint-up(lg) {
        font-size: 1.5rem;
      }
    }
  }
  .hashTag {
    z-index: 15;
    bottom: 6%;
    left: 0;
    right: 0;
  }
  &__truck,
  &__tree,
  &__tree-2 {
    z-index: 1;
  }
  &__truck {
    width: 36%;
    top: 13%;
    left: -40%;
    &.animate {
      left: 0;
      transition: all 1s ease-out;
    }
  }
  &__tree-2 {
    width: 16%;
    right: -16%;
    top: 17%;
    &.animate {
      right: 0;
      transition: all 1s ease-out;
    }
  }
  &__tree {
    width: 52%;
    top: 60%;
    left: 32%;
    &.animate {
      top: 16%;
      transition: all 1s ease-out;
    }
  }
  &__main {
    z-index: 2;
    margin-top: -60px;
  }
}
