.skills {
  overflow: hidden;
  .section__header {
    padding-bottom: 120px;
    @include media-breakpoint-up(md) {
      padding-bottom: 150px;
    }
    @include media-breakpoint-up(lg) {
      padding-bottom: 100px;
    }
  }
  &-col:nth-of-type(3) {
    border-top: $border-width solid $border-color;
    @include media-breakpoint-up(sm) {
      border-left: $border-width solid $border-color;
      border-top: 0;
    }
    @include media-breakpoint-up(lg) {
      border-left: 0;
    }
  }
  &__content {
    padding-top: 55px;
    text-align: left;
    background: url(../images/skills-bg.png) no-repeat;
    @include media-breakpoint-up(md) {
      background-size: 70%;
      background-position: 52px 92px;
    }
    @include media-breakpoint-up(lg) {
      background-size: 80%;
      background-position: 49px 59px;
    }
    @include media-breakpoint-up(xl) {
      background-size: 82%;
      background-position: 50px 58px;
    }
  }
  .bullet:before {
    width: 8.5px;
    height: 8.5px;
    background-color: #8a8a8a;
    display: inline-block;
    content: ".";
    margin: 0 8px 3px 0;
    text-indent: -8.5px;
    overflow: hidden;
    border-radius: 8.5px;
  }
  &__text {
    &--em {
      color: $brown;
      @include media-breakpoint-down(md) {
        color: $kakhi;
      }
    }
  }
}
