.skills {
  overflow: hidden;
  &__col:nth-of-type(2) {
    border-top: $border-width solid $border-color;
    @include media-breakpoint-up(sm) {
      border-left: $border-width solid $border-color;
      border-top: 0;
    }
    @include media-breakpoint-up(md) {
      border-left: 0;
    }
  }
  &__content {
    text-align: left;
    @include media-breakpoint-up(md) {
      background-image: url(../images/skills-bg-sm.png);
      background-repeat: no-repeat;
      background-size: 77%;
      background-position: 51px 63px;
    }
    @include media-breakpoint-up(lg) {
      background-image: url(../images/skills-bg.png);
      background-size: 83%;
      background-position: 49px 63px;
    }
    @include media-breakpoint-up(xl) {
      background-size: 82%;
      background-position: 50px 62px;
    }
  }
  .bullet:before {
    width: 5.5px;
    height: 5.5px;
    @include media-breakpoint-up(md) {
      width: 8.5px;
      height: 8.5px;
    }
    background-color: #8a8a8a;
    display: inline-block;
    content: ".";
    margin: 0 8px 3px 0;
    text-indent: -8.5px;
    overflow: hidden;
    border-radius: 8.5px;
  }
  &__closing-text {
    line-height: 2rem;
    font-size: 1.75rem;
    @include media-breakpoint-up(md) {
      font-size: 2rem;
    }
    &--em {
      font-size: 3rem;
      color: $brown;
    }
  }
}
