.stats {
  .stat {
    line-height: .8em;

    @include media-breakpoint-up(lg) {
      font-size: 6rem;
    }

    @include media-breakpoint-up(xl) {
      font-size: 8rem;
    }

    &_unit {
      font-size: 15px;
    }
  }
}