@import "./Hero-tools";

.hero {
  overflow: hidden;
  .heading {
    h1 {
      @include media-breakpoint-up(md) {
        margin-bottom: 0;
      }
    }
    h4 {
      margin-bottom: 0;
      @include media-breakpoint-up(md) {
        margin-bottom: 0.5rem;
      }
    }
  }
  &__sub-heading {
    opacity: 0;
    &.animate {
      opacity: 1;
      transition: opacity 2s ease;
    }
  }
  &__hashTag {
    z-index: 15;
    bottom: 6%;
    left: 0;
    right: 0;
  }
  // hero main anim elements
  &__truck,
  &__tree {
    z-index: 3;
    width: 100%;
    bottom: 0;
    &.animate {
      transition: all 1s ease-out;
    }
  }
  &__truck {
    left: 0;
    @include media-breakpoint-up(sm) {
      left: -40%;
      &.animate {
        left: 0;
      }
    }
  }
  &__tree {
    right: 0;
    @include media-breakpoint-up(sm) {
      right: -16%;
      &.animate {
        right: 0;
      }
    }
  }
  &__sketch {
    display: none;
    @include media-breakpoint-up(sm) {
      display: block;
      z-index: 1;
      width: 100%;
      opacity: 0.9;
      bottom: -45%;
      &.animate {
        bottom: 0;
        transition: all 1.5s ease;
      }
    }
  }
  &__main {
    z-index: 5;
    margin-top: -60px;
  }
}
