@import "./Hero-tools";

.hero {
  overflow: hidden;

  &__heading {
    z-index: 1;

    &__h1 {
      font-weight: 700;
      font-size: 10vw;

      span {
        @include text-gradient--primary;
      }
    }

    &__h1 {
      @include media-breakpoint-up(sm) {
        font-size: 2.2rem;
      }

      @include media-breakpoint-up(md) {
        font-size: 2.9rem;
      }

      @include media-breakpoint-up(lg) {
        font-size: 3.7rem;
      }

      @include media-breakpoint-up(xl) {
        // font-size: 4.5rem;
        font-size: 4.8vw;
      }
    }

    opacity: 0;

    // header animation
    &.animate {
      opacity: 1;
      animation-name: slide-up;
      animation-duration: 750ms;
      animation-fill-mode: forwards;
    }

    @keyframes slide-up {
      from {
        margin: 0;
      }

      to {
        margin-top: -3vw;
      }
    }
  }

  &__aside {
    position: absolute;
    z-index: 10;
    right: 6%;
    font-size: .6rem;
    bottom: 0;
    color: #fff;

    @include media-breakpoint-up(md) {
      bottom: 5%;
      font-size: 1rem;
    }
  }

  &__down-button {
    display: none;
    color: $white;
    font-size: 4rem;
    line-height: 0;

    &:hover {
      color: #ccc;
      text-decoration: none;
    }

    @include media-breakpoint-up(lg) {

      // down button animation
      &.animate {
        display: inline-block;
        animation: bounce 1s ease;

        @keyframes bounce {

          0% {
            transform: translateY(0);
          }

          30% {
            transform: translateY(-10px);
          }

          50% {
            transform: translateY(5px);
          }

          80% {
            transform: translateY(-3px);
          }

          100% {
            transform: translateY(0);
          }
        }
      }
    }
  }

  &__hashTag {
    z-index: 250;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: .8rem;
    bottom: 2%;

    @include media-breakpoint-up(sm) {
      font-size: 1rem;
      bottom: 5%;
    }

    @include media-breakpoint-up(md) {
      font-size: 1.2rem;
      bottom: 7%;
    }

    @include media-breakpoint-up(xl) {
      font-size: 1.25rem;
      bottom: 7.5%;
    }
  }


  // hero main anim elements
  &__truck,
  &__tree {
    z-index: 3;
    width: 100%;
    bottom: 0;

    &.animate {
      transition: all 1s ease-out;
    }
  }

  &__truck {
    left: -40%;

    &.animate {
      left: 0;
    }
  }

  &__tree {
    right: 0;
    right: -16%;

    &.animate {
      right: 0;
    }
  }

  &__sketch {
    display: none;
    bottom: -30%;
    display: block;
    z-index: 1;
    width: 98%;
    left: 0.5%;
    opacity: 0.9;

    &--mobile {
      bottom: 5%;
    }

    &.animate {
      bottom: 2%;
      transition: all 1.5s ease;
    }
  }

  &__main {
    z-index: 5;
    margin-top: -60px;
  }

  &__rider--mobile {
    z-index: 5;
    margin-bottom: -50px;
  }
}