$timeline-color: #b6b9b9;

.timeline {
  font-size: .8rem;
  max-width: 1200px;
  margin: 0 auto;

  // vertical line
  &::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: $timeline-color;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: 1;
  }

  &__container {
    margin: 0;
    padding: 10px 40px;
    background-color: inherit;
    width: 50%;
    z-index: 10;

    // circles
    &::after {
      content: '';
      position: absolute;
      width: 25px;
      height: 25px;
      right: -13px;
      background-color: white;
      border: 4px solid $timeline-color;
      top: 15px;
      border-radius: 50%;
      z-index: 1;
    }

    /* container */
    &.left {
      left: 0;
    }

    /* container */
    &.right {
      left: 50%;
    }

    &.left::before,
    &.right::before {
      content: " ";
      height: 0;
      position: absolute;
      top: 22px;
      width: 0;
      z-index: 1;
      border: medium solid white;
    }

    /* arrow - pointing right */
    &.left::before {
      right: 30px;
      border-width: 10px 0 10px 10px;
      border-color: transparent transparent transparent white;
    }

    /* arrow - pointing left */
    &.right::before {
      left: 30px;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }

    /* circle */
    &.right::after {
      left: -12px;
    }

    .content {
      padding: 10px 30px;
      background-color: white;
      position: relative;
      border-radius: 6px;

      @media screen and (min-width: 601px) {
        padding: 10px 30px;
      }
    }

  }

  @media screen and (max-width: 600px) {

    &::after {
      left: 31px;
    }

    &__container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;

      /* arrows */
      &.left,
      &.right {
        &::before {
          left: 60px;
          border: medium solid white;
          border-width: 10px 10px 10px 0;
          border-color: transparent white transparent transparent;
        }
      }

      /* circle */
      &.left::after,
      &.right::after {
        left: 20px;
      }

      /* container */
      &.right {
        left: 0%;
      }
    }
  }
}