$section-spacing: 60px;
$section-with-bg-spacing: $section-spacing * 2;

html,
body {
  scroll-behavior: smooth;
  max-width: $body-max-width;
  height: 100%;
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
}

// adjust for nav link targeting
section,
.section--with-background {
  padding-top: $section-spacing;

  @include media-breakpoint-up(md) {
    padding-top: $section-spacing;
    margin-top: $section-spacing;
  }
}

.section--with-background {
  margin-top: $section-spacing;
  padding-bottom: $section-spacing;

  @include media-breakpoint-up(md) {
    margin-top: $section-with-bg-spacing;
    padding-top: $section-with-bg-spacing;
    padding-bottom: $section-with-bg-spacing;
  }
}